
<p>
  <strong>Name of the coctail:</strong>
  <%= @cocktail.name %>
  

    
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <%= dose.description %>
        <%= dose.ingredient.name %>
        <%= link_to "Delete", dose_path(dose.id), method: :delete, class: 'btn btn-primary' %>
      </li>
    <% end %>
  </ul>
  
  
</p>



<%= link_to "Go back", root_path, class: 'btn btn-primary' %>

